<img class="answer_img" src="/~/image.png" alt="stock of MS" />
<table class="answer_data" cellspacing="0" cellpadding="0" width="0">
    <tr><td>今开</td><td>46.98</td></tr>
    <tr><td>昨收</td><td>46.70</td></tr>
    <tr><td>最高</td><td>47.00</td></tr>
    <tr><td>最低</td><td>46.45</td></tr>
    <tr><td>成交量</td><td>2386.89万</td></tr>
    <tr><td>市盈率</td><td>31.63</td></tr>
    <tr><td>市值</td><td>3758.84亿</td></tr>
</table>
