#answer {
    padding: 10px;
    height: 240px;
}
#answer .answer_img {
    display: block;
    float: left;
    width: 500px;
}
#answer .answer_data {
    padding-left: 20px;
    width: 230px;
    height: 220px;
}
