body {
    margin: 0;
}

#content {
    opacity: 0;
}

#searchbox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60%;
    z-index: 100;
}
#searchbox .searchbox_title {
    background: #e8e8e8;
    border-bottom: 1px solid #808080;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    position: absolute;
}
#searchbox .searchbox_title h1 {
    text-align: center;
    margin: 0;
    font-size: 40px;
    color: #404040;
    letter-spacing: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
}
#searchbox .searchbox_input {
    bottom: 20px;
    width: 1000px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#searchbox .searchbox_input input {
    display: block;
    width: 1000px;
    text-align: center;
    font-size: 20px;
    height: 40px;
    border: 1px solid #808080;
    background: #fff;
    box-sizing: border-box;
}

#loading {
    display: none;
    position: fixed;
    z-index: 50;
    top: 80px;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 36px;
    text-align: center;
    background: #fff;
}
#loading .loading_block {
    display: inline-block;
    width: 12px;
    height: 36px;
    vertical-align: top;
    margin: 0 2px;
    background: #808080;
}

#content {
    width: 1000px;
    margin: 60px auto 0;
}
#answer, #results {
    width: 760px;
    box-sizing: border-box;
    display: none;
}
#sidebar {
    float: right;
    width: 210px;
    display: none;
}
