#results .results_item {
    margin: 10px;
}
#results .a{
    font-size:18px;
    color:blue;
}
#results .p{
    font-size:14px;
}
#results .span{
    font-size:18px;
    font-weight:bold;
    color:#ff0000;
}
