#results {
    padding: 10px 0;
}
#results .results_item {
    margin: 20px 0;
}
#results .results_title a {
    font-size: 18px;
    color: #04b;
}
#results .results_abstract{
    margin-top: 2px;
    font-size: 14px;
}
#results .results_match {
    font-size: 18px;
    font-weight: bold;
}
