<div class="sidebar_suggest">
	<div class="sidebar_suggest_title">股票推荐</div>
	<div class="sidebar_suggest_item"><a href="#南大光电">南大光电</a></div>
	<div class="sidebar_suggest_item"><a href="#天银机电">天银机电</a></div>
	<div class="sidebar_suggest_item"><a href="#科恒股份">科恒股份</a></div>
	<div class="sidebar_suggest_item"><a href="#开元仪器">开元仪器</a></div>
	<div class="sidebar_suggest_item"><a href="#泰格医药">泰格医药</a></div>
	<div class="sidebar_suggest_item"><a href="#金卡股份">金卡股份</a></div>
</div>
<div class="sidebar_history {{#if answer}}sidebar_history-answer{{/if}}"><div class="sidebar_history_title">搜索历史</div></div>
