#sidebar {
    color: grey;
    line-height: 28px;
    position: relative;
    padding-top: 16px;
}
#sidebar .sidebar_history, #sidebar .sidebar_suggest {
    padding-bottom: 16px;
}
#sidebar .sidebar_history_item, #sidebar .sidebar_suggest_item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#sidebar .sidebar_history_item a, #sidebar .sidebar_suggest_item a {
    text-decoration: none;
    color: #05a;
}
#sidebar .sidebar_history_item a:hover, #sidebar .sidebar_suggest_item a:hover {
    text-decoration: underline;
}
#sidebar .sidebar_history-answer {
    position: absolute;
    top: 360px;
}
