#sidebar {
    color: grey;
    margin-top: 20px;
}
#sidebar .sidebar_history_item {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#sidebar .sidebar_history_item a {
    text-decoration: none;
    color: #05a;
}
#sidebar .sidebar_history_item a:hover {
    text-decoration: underline;
}
